* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: blanchedalmond;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 45rem;
  height: 30rem;
  background-color: brown;
  padding: 1rem;
}
.col-1 {
  gap: 0.5rem;
  display: grid;
  grid-template-rows: 9rem;
}
.one {
  background-color: aqua;
}
.two {
  background-color: rgb(255, 0, 174);
}
.col-2 {
  gap: 0.5rem;
  display: grid;
  grid-template-rows: 18rem;
}
.three {
  background-color: aqua;
}
.four {
  background-color: rgb(255, 0, 174);
  height: 9rem;
}

.col-3 {
  gap: 0.5rem;
  display: grid;
  grid-template-rows: 8rem;
}
.five {
  background-color: aqua;
}
.six {
  background-color: rgb(255, 0, 174);
  height: 18.5rem;
}
.col-4 {
  gap: 0.5rem;
  display: grid;
  grid-template-rows: 17rem;
}
.seven {
  background-color: aqua;
}
.eight {
  background-color: rgb(255, 0, 174);
  height: 9rem;
}
