.main-3 {
  width: 100%;
  background-color: var(--main3-color);
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-main3 {
  width: 15rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.para-main4 {
  text-align: center;
}
@media screen and (min-width: 300px) {
  .div-main3 {
    width: 17rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 400px) {
  .div-main3 {
    width: 23rem;
    font-size: 1rem;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 500px) {
  .div-main3 {
    width: 30rem;
    font-size: 1rem;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 700px) {
  .main-3 {
    padding: 3rem;
  }
  .div-main3 {
    width: 30rem;
    font-size: 1.2rem;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 851px) {
  .main-3 {
    padding: 3.5rem;
  }
  .div-main3 {
    width: 50rem;
    font-size: 1.2rem;
    gap: 1.5rem;
  }
}
