.second-first {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  background-color: var(--black-color);
  padding: 1rem;
}
.Divleft-s-fotter,
.Divright-s-fotter {
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-a-footer {
  color: var(--a--color);
  text-decoration: none;
}
.para-footer-left,
.second-a-footer {
  font-size: 0.7rem;
}

@media screen and (min-width: 398px) {
  .second-first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
  }
}
